.card {
  background-color: var(--card-background);
  margin-bottom: 0.2em;
  padding: 0.5em;
  width: fit-content;
  display: grid;
  grid-template-columns: 80px 180px 130px;
  align-items: center;
  /* border-radius: 3px;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px; */
}

.card img {
  height: 4rem;
}

.card_player_info {
  margin-left: 2em;
}

.card_position {
  background-color: black;
  color: white;
  padding: 0 1em;
  font-size: 0.8em;
  border-radius: 3px;
}

.card_stat_wrapper {
  margin-left: 1em;
}

.card_player_stat {
  font-size: 0.8rem;
  margin-bottom: 0.2em;
  grid-template-columns: 1fr 1fr;
}

.card_stat_label {
  display: inline-block;
  text-align: right;
  padding-right: 1em;
  width: 6em;
  font-weight: 300;
}

.card_sub-title {
  font-size: 0.8rem;
}
