.card {
  /* background-color: cyan; */
  /* height: 4rem; */
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  /* border: 1px solid grey; */
  border-radius: 10px;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.card img {
  height: 8rem;
}

.card_player_info {
  /* background-color: yellow; */
  margin-left: 2em;
  padding-top: 1em;
}