.team-card {
  background-color: var(--card-background);
  margin-bottom: 0.2em;
  padding: 0.5em 1em;
  display: grid;
  width: fit-content;
  grid-template-columns: 1.5rem 120px 1fr;
  /* border-radius: 3px;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px; */
}

.team-card img {
  height: 1.2rem;
  width: 1.2rem;
}

.fixtures {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  gap: 5px;
  text-align: center;
  align-items: center;
  font-size: 0.8rem;
}

.fixture {
  background-color: cyan;
}
