.page {
  font-family: var(--font-roboto-condensed);
  padding: 1em;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em;
  justify-items: center;
}

.table-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 930px) {
  .page {
    grid-template-columns: 1fr;
  }

  .cards-wrapper,
  .table-wrapper {
    grid-column: 1 / -1;
  }
}
